svg {
    display: inline-block;
    margin: 0 10px;
    height: 50px;
}

#m-aiven-kubernetes-operator {
    display: none;
}

aside.col-12 {
    padding-top: 0;
}

main.col-12.col-md-9.col-xl-8.pl-md-5 {
    padding-top: 2.5rem;
}