---
# permissions for end users to view redis.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole

metadata:
  name: redis-viewer-role

rules:
  - apiGroups: [aiven.io]
    resources: [redis]
    verbs: [get, list, watch]
  - apiGroups: [aiven.io]
    resources: [redis/status]
    verbs: [get]
