---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - cassandras
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - cassandras/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - cassandras/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - clickhousedatabases
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - clickhousedatabases/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - clickhousedatabases/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - clickhousegrants
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - clickhousegrants/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - clickhousegrants/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - clickhouseroles
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - clickhouseroles/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - clickhouseroles/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - clickhouses
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - clickhouses/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - clickhouses/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - clickhouseusers
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - clickhouseusers/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - clickhouseusers/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - connectionpools
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - connectionpools/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - connectionpools/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - databases
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - databases/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - databases/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - flinks
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - flinks/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - flinks/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - grafanas
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - grafanas/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - grafanas/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - kafkaacls
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - kafkaacls/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - kafkaacls/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - kafkaconnectors
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - kafkaconnectors/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - kafkaconnectors/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - kafkaconnects
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - kafkaconnects/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - kafkaconnects/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - kafkas
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - kafkas/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - kafkas/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - kafkaschemaregistryacls
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - kafkaschemaregistryacls/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - kafkaschemaregistryacls/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - kafkaschemas
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - kafkaschemas/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - kafkaschemas/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - kafkatopics
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - kafkatopics/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - kafkatopics/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - mysqls
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - mysqls/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - mysqls/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - opensearches
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - opensearches/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - opensearches/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - postgresqls
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - postgresqls/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - postgresqls/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - projects
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - projects/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - projects/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - projectvpcs
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - projectvpcs/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - projectvpcs/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - redis
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - redis/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - redis/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - serviceintegrationendpoints
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - serviceintegrationendpoints/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - serviceintegrationendpoints/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - serviceintegrations
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - serviceintegrations/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - serviceintegrations/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - serviceusers
    verbs:
      - create
      - delete
      - get
      - list
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - serviceusers/finalizers
    verbs:
      - create
      - get
      - update
  - apiGroups:
      - aiven.io
    resources:
      - serviceusers/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - aiven.io
    resources:
      - valkeys
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - aiven.io
    resources:
      - valkeys/finalizers
    verbs:
      - update
  - apiGroups:
      - aiven.io
    resources:
      - valkeys/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - create
      - get
      - list
      - update
