name: pages

on:
  workflow_dispatch: {}
  push:
    tags:
      - v*

jobs:
  release_pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Generate docs
        uses: addnab/docker-run-action@v3
        with:
          image: zensical/zensical:latest
          options: -v ${{ github.workspace }}/docs/:/docs
          run: mkdocs build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/site
