# https://github.com/trunk-io/trunk-action/tree/34242ec4eb8cf594887600f1f9b889e7c630ec18?tab=readme-ov-file#automatic-upgrades
name: trunk upgrade

on:
  schedule:
    - cron: 0 8 * * 1-5
  workflow_dispatch: {}

permissions: read-all

jobs:
  trunk_upgrade:
    runs-on: ubuntu-latest
    permissions:
      contents: write # For trunk to create PRs
      pull-requests: write # For trunk to create PRs
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - uses: trunk-io/trunk-action/upgrade@v1
